* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  list-style: none;
  appearance: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(241, 242, 246);
  overflow-x: hidden;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  text-align: center;
  margin: 3rem;
  margin-top: 7rem;
  font-size: 50px;
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: fadeInUp 1s ease-in-out;
}

.card {
  height: 70rem;
  width: 70rem;
  margin-top: 3rem;
  margin-left: 12rem;
}
