* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: 0;
  list-style: none;
  appearance: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(241, 242, 246);
  overflow-x: hidden;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  text-align: center;
  margin: 3rem auto 0; /* Center the heading horizontally and add top margin */
  font-size: 3rem; /* Adjusted font size for responsiveness */
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: fadeInUp 1s ease-in-out;
}

.card {
  max-width: 70%; /* Adjusted to a percentage for responsiveness */
  margin: 3rem auto; /* Center the card horizontally and add top margin */
}
